.panel {
    border-radius: 5px;
}
label {
    font-weight: 300;
}
.panel-body{
    margin-top: 35%;
}
.panel-login {
    border: none;
    -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
}
.panel-login h2{
    font-size: 20px;
    font-weight: 300;
    margin: 30px;
}
.panel-login .form-group {
    padding: 0 30px;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 0;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0px;
    padding: 6px 0px;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #22d686;
    outline: none;
    color: #2D3B55;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #16d65e;
}
